<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/fc2e5f01-f7e1-48c4-ad63-1c17733d018f/resourceGroups/Drivo_app_rcgrp/providers/Microsoft.Web/sites/drivoapp</ResourceId>
    <ResourceGroup>Drivo_app_rcgrp</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://drivoapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>drivoapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>drivoapp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$drivoapp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=drivo.database.windows.net;Initial Catalog=DrivoDb;User ID=pranavriya;Password=Aanchal2851996" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DrivoDb.mdf;Initial Catalog=DrivoDb;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DrivoDb.mdf;Initial Catalog=DrivoDb;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DataContext" Order="2" Enabled="False">
          <Destination Path="Data Source=drivo.database.windows.net;Initial Catalog=DrivoDb;User ID=pranavriya;Password=Aanchal2851996" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DrivoDb.mdf;Initial Catalog=DrivoDb;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DataContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=(LocalDb)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\DrivoDb.mdf;initial catalog=DrivoDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=drivo.database.windows.net;Initial Catalog=DrivoDb;User ID=pranavriya;Password=Aanchal2851996</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DataContext-Web.config Connection String">
      <ParameterValue>data source=drivo.database.windows.net;initial catalog=DrivoDb;user id=pranavriya;password=Aanchal2851996;MultipleActiveResultSets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>