@model Drivo.Models.Instructor

<ul class="nav nav-pills">
    <li role="presentation" class="active" style="margin-right:10px">@Html.ActionLink("Search", "Index", "Instructors")</li>
    <li role="presentation" class="active">@Html.ActionLink("Register an Instructor", "Create", "Instructors")</li>
</ul>

