@model Drivo.Models.Instructor

<ul class="nav nav-pills">
    <li role="presentation" class="active">@Html.ActionLink("Search", "Index", "Instructors")</li>
    <li role="presentation">@Html.ActionLink("Register", "Create", "Instructors")</li>
    <li role="presentation">@Html.ActionLink("Login", "Index", "Instructors")</li>
</ul>

